!!!
%html
  %head
    %title Backbone.js • TodoMV
    %link(rel="stylesheet" href="/lib/todomvc-common/base.css")
  %body
    %section#todoapp
      %header#header
        %h1 todos
        %input#new-todo(placeholder="what needs to be done?" autofocus="autofocus")
      %section.main
        %input#toggle-all(type="checkbox")
        %label(for="toggle-all")Mark all as complete
        %ul#todo-list
      %footer#footer
    %footer#info
      %p Double-click to edit a todo
      %p Written by &nbsp;
        %a(href="http://github.com/addyosmani") Addy Osmani
      %p Part of &nbsp;
        %a(href="http://todomvc.com") TodoMVC
    %script#item-template(type="text/template")
      .view
        %input.toggle(type="checkbox" completed ? "checked" : "")
        %lable {{ title }}
        %button.destroy
      -# %input.edit(value={{ title }})
      <input class="edit" value={{ title }}>
    %script#stats-template(type="text/template")
      %span#todo-count
        %strong {{ remaining }}
          {{ remaining === 1 ? "item" : "items" }} left
      %ul#filters
        %li
          %a.selected(href="#/") All
        %li
          %a(href="#/active") Active
        %li
          %a(href="#/completed") Completed
      {{ if (completed) { }}
        %button#clear-completed Clear completed ({{ completed }})
      {{ } }}
    -# %script(src="/lib/todomvc-common/base.js")
    %script(src="/lib/jquery/jquery.js")
    %script(src="/lib/js/underscore/underscore.js")
    %script(src="/lib/js//backbone/backbone.js")
    %script(src="/lib/backbone.localStorage/backbone.localStorage.js")
    %script(src="/js/models/todo.js")
    %script(src="/js/collections/todos.js")
    %script(src="/js/views/app-view.js")
    %script(src="/js/views/todo-view.js")
    %script(src="/js/routers/router.js")
    %script(src="/js/app.js")
